{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row my-3"> <!--my-3: margin y방향 3만큼-(mx(x), my(y), mr(오), ml(왼), mt(위). mb(아래)-->
        <div class="col-lg-7 col-md">
            <h1>Dayoung kang</h1>
            <p class="title">Student</p>
            <p>J B N U</p>
            <p><button onclick="location.href='mailto:kallzero1008@jbnu.ac.kr';">Contact</button></p>
        </div>
        <div class="col-lg-5 col-md">
            <img src="{{ url_for('static', filename='images/home.png') }}" alt="me" style="width:30%">
        </div>
    </div>
</div>
{% endblock %}